*{
	box-sizing:border-box;
	margin:0;
	padding:0;
}
.wrapper{
     
	display: flex;
	padding: 16px;
	flex-wrap: wrap;
	display: flex;
	flex-direction:row;
	
flex-wrap: wrap;
}
.single_pricing{
	flex: 1;
	min-width: 250px;
}
.single_pricing:not(:last-child){
	margin-right: 16px; 
}
.deals{
	border: 1px solid grey;
	list-style-type: none;
	margin: 0;
	padding: 0;
	transition: .5s;
}
.deals:hover{
	box-shadow: 0 8px 12px 0 black;
}
.deals .plans{
	color: #fff;
	background: #0e908f;
	font-size=24px;
}
.deals li{
	background-color:  #262626;
	border-bottom: 1px solid #eee;
	padding: 20px;
	text-align: center;
    color: #fff;

}
 button {
 	cursor: pointer;
 	border: none;
 	border-radius: 25px;
 	padding: 12px 70px;
 	font-size: 16px;
 }